---
import { Abilities } from './abilities';
import { Team } from './team';
import { Products } from './products';
import { Platforms } from './platforms';
import { History } from './history';
import { Footer } from 'components/organisms/footer';
import { Calculator } from './calculator';
---

<Fragment>
  <div class="wrapper">
    <Abilities />
    <Calculator />
    <Team />
    <Products />
    <Platforms />
    <History />
  </div>
  <Footer />
</Fragment>
