---
import users from './users.json';
---

<div class="users-list">

</div>

<style>
    .users-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 10px;
    }
</style>