.mobile-plug-wrapper {
  width: 100%;
  height: 12px;
  background: var(--Light_blue, #f5f9fd);
}

.mobile-plug-wrapper--transparent {
  background: transparent;
}

.mobile-plug {
  width: 100%;
  height: 12px;
  background: var(--White, #ffffff);
  border-radius: 12px 12px 0 0;
}