.block-container {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 100px;
  border-bottom: 1px solid #e6eaf0;
  position: relative;

  @media (max-width: 430px) {
    padding: 20px 0 48px;
  }
}

.block-container:first-child {
  padding-top: 6px;

  @media (max-width: 430px) {
    padding-top: 10px;
  }
}

.block-container:last-of-type {
  border-bottom: none;
}

:global(.block-title) {
  font-variant-numeric: lining-nums tabular-nums;

  /* 40/40 */
  font-family: CoFo Kak;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
  margin: 0;

  @media (max-width: 430px) {
    font-size: 22px;
    line-height: 22px;
  }
}

:global(.block-title.dark) {
  color: var(--Dark_grey, #35383a);
}
:global(.block-title.light) {
  color: var(--White, #fff);
}
