---
import { ContentBlock } from '@components/ui-kit';
import Switcher from './switcher.svelte';
import './customizing-block.css';
---

<ContentBlock id='castomizing' title='КАСТОМИЗАЦИЯ'>
    <div class="customizing__info">
        Компоненты в библиотеке являются базовыми для системы <br />
        и могут закрыть большинство потребностей при <br />
        проектировании интерфейсов
    </div>
    <div class="switcher-wrapper">
        <Switcher client:visible />
    </div>
</ContentBlock>

<style>
    .switcher-wrapper {
        display: grid;
        grid-template-columns: 50% 5px 50%;
        column-gap: 10px;
        position: relative;
    }
</style>