---
import { ContentBlock } from '@components/ui-kit/Astro';
import './customizing-block.css';
---

<ContentBlock id="castomizing" title="КАСТОМИЗАЦИЯ">
  <div class="customizing__info">
    Компоненты в библиотеке являются базовыми для системы <br />
    и могут закрыть большинство потребностей при <br />
    проектировании интерфейсов
  </div>
</ContentBlock>
