.lib-font-block__font-tile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background: var(--Light_grey);
    padding: 20px;
}

.lib-font-block__font-example {
    color: var(--Dark_grey, #35383a);
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 54px;
}

.lib-font-block__font-tile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;
    background: var(--Light_blue);
    padding: 20px;
}

.lib-font-block__font-example {
    color: var(--Dark_grey, #35383a);
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 54px;
}

.lib-font-block__font-buttons-container {
    display: flex;
    gap: 5px;
}

.lib-font-block__font-example--Subtitle {
    color: red
}

.lib-font-block__font-example--Body {
    color: green;
}

.lib-font-block__font-example--Caption {
    color: blueviolet;
}