# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
.idea
/bun.lockb

package-lock.json
/.svelte-kit/generated/client/nodes/0.js
/.svelte-kit/generated/client/nodes/1.js
/.svelte-kit/generated/client/nodes/2.js
/.svelte-kit/generated/client/nodes/3.js
/.svelte-kit/generated/client/nodes/4.js
/.svelte-kit/generated/client/app.js
/.svelte-kit/generated/client/matchers.js
/.svelte-kit/generated/client-optimized/nodes/0.js
/.svelte-kit/generated/client-optimized/nodes/1.js
/.svelte-kit/generated/client-optimized/nodes/2.js
/.svelte-kit/generated/client-optimized/nodes/3.js
/.svelte-kit/generated/client-optimized/nodes/4.js
/.svelte-kit/generated/client-optimized/app.js
/.svelte-kit/generated/client-optimized/matchers.js
/.svelte-kit/generated/server/internal.js
/.svelte-kit/generated/root.svelte
/.svelte-kit/output/client/.vite/manifest.json
/.svelte-kit/output/client/_app/immutable/assets/2.CVsoSvZf.css
/.svelte-kit/output/client/_app/immutable/assets/3.DbDXU9Ta.css
/.svelte-kit/output/client/_app/immutable/assets/4.Cc1aS8r4.css
/.svelte-kit/output/client/_app/immutable/assets/_page.C2c1pOGL.css
/.svelte-kit/output/client/_app/immutable/assets/_page.Cc1aS8r4.css
/.svelte-kit/output/client/_app/immutable/assets/_page.CX9ATAR7.css
/.svelte-kit/output/client/_app/immutable/assets/Contacts.Btm-M-Dv.css
/.svelte-kit/output/client/_app/immutable/assets/Contacts.CpRvNrDx.css
/.svelte-kit/output/client/_app/immutable/assets/cover.BMr1hXc1.png
/.svelte-kit/output/client/_app/immutable/assets/image.CD6wK-f0.png
/.svelte-kit/output/client/_app/immutable/assets/image.CU6q2Zfr.png
/.svelte-kit/output/client/_app/immutable/assets/library.w88Wsn9Y.png
/.svelte-kit/output/client/_app/immutable/assets/ScrollableTimeline.BSU17MU9.css
/.svelte-kit/output/client/_app/immutable/assets/ScrollableTimeline.DwESBPIs.css
/.svelte-kit/output/client/_app/immutable/assets/VTBGroupUI-Medium.CJW7SkqK.otf
/.svelte-kit/output/client/_app/immutable/assets/VTBGroupUI-Regular.JWIonCWQ.otf
/.svelte-kit/output/client/_app/immutable/assets/VTBGroupUI-SemiBold.Wupg3RVc.ttf
/.svelte-kit/output/client/_app/immutable/chunks/ArrowButtons.lsfQhm4H.js
/.svelte-kit/output/client/_app/immutable/chunks/clock.CMJliQaH.js
/.svelte-kit/output/client/_app/immutable/chunks/Contacts.svelte_svelte_type_style_lang.DfZH7EQI.js
/.svelte-kit/output/client/_app/immutable/chunks/display.CSdrB1xH.js
/.svelte-kit/output/client/_app/immutable/chunks/entry.D6NTzvvI.js
/.svelte-kit/output/client/_app/immutable/chunks/index.CmIcGEVT.js
/.svelte-kit/output/client/_app/immutable/chunks/index.Dei-R2vp.js
/.svelte-kit/output/client/_app/immutable/chunks/preload-helper.D6kgxu3v.js
/.svelte-kit/output/client/_app/immutable/chunks/rocket.BhCUKV6o.js
/.svelte-kit/output/client/_app/immutable/chunks/scheduler.Q-E3fVF4.js
/.svelte-kit/output/client/_app/immutable/chunks/ScrollableTimeline.svelte_svelte_type_style_lang.C-X7p9UV.js
/.svelte-kit/output/client/_app/immutable/entry/app.lmlUfyMS.js
/.svelte-kit/output/client/_app/immutable/entry/start.DQSN6MzZ.js
/.svelte-kit/output/client/_app/immutable/nodes/0.DD_8ieOX.js
/.svelte-kit/output/client/_app/immutable/nodes/1.hZ-A71th.js
/.svelte-kit/output/client/_app/immutable/nodes/2.BoFRj-Tv.js
/.svelte-kit/output/client/_app/immutable/nodes/3.CWb2oGbN.js
/.svelte-kit/output/client/_app/immutable/nodes/4.BzvOvues.js
/.svelte-kit/output/client/_app/version.json
/.svelte-kit/output/client/fonts/CoFo Kak Black.otf
/.svelte-kit/output/client/fonts/Inter-Regular.ttf
/.svelte-kit/output/client/images/employee/AIvanov.png
/.svelte-kit/output/client/images/employee/ALitvinov.png
/.svelte-kit/output/client/images/employee/AZhuravleva.png
/.svelte-kit/output/client/images/employee/DIvanova.png
/.svelte-kit/output/client/images/employee/DProcenko.png
/.svelte-kit/output/client/images/employee/EGyzyev.png
/.svelte-kit/output/client/images/employee/female-avatar.png
/.svelte-kit/output/client/images/employee/IIvanov.png
/.svelte-kit/output/client/images/employee/male-avatar.png
/.svelte-kit/output/client/images/employee/NMaslov.png
/.svelte-kit/output/client/images/employee/PBasin.png
/.svelte-kit/output/client/images/employee/Sasha.png
/.svelte-kit/output/client/images/employee/Taya.png
/.svelte-kit/output/client/images/employee/VShuvaeva.png
/.svelte-kit/output/client/images/rainbow.svg
/.svelte-kit/output/client/images/sfera-dark.png
/.svelte-kit/output/client/images/sfera-light.png
/.svelte-kit/output/client/Admiral_animation_video.mp4
/.svelte-kit/output/client/favicon.png
/.svelte-kit/output/client/global.css
/.svelte-kit/output/prerendered/dependencies/_app/env.js
/.svelte-kit/output/prerendered/pages/index.html
/.svelte-kit/output/prerendered/pages/library.html
/.svelte-kit/output/prerendered/pages/users.html
/.svelte-kit/output/server/.vite/manifest.json
/.svelte-kit/output/server/_app/immutable/assets/_page.C2c1pOGL.css
/.svelte-kit/output/server/_app/immutable/assets/_page.Cc1aS8r4.css
/.svelte-kit/output/server/_app/immutable/assets/_page.CX9ATAR7.css
/.svelte-kit/output/server/_app/immutable/assets/Contacts.Btm-M-Dv.css
/.svelte-kit/output/server/_app/immutable/assets/cover.BMr1hXc1.png
/.svelte-kit/output/server/_app/immutable/assets/image.CD6wK-f0.png
/.svelte-kit/output/server/_app/immutable/assets/image.CU6q2Zfr.png
/.svelte-kit/output/server/_app/immutable/assets/library.w88Wsn9Y.png
/.svelte-kit/output/server/_app/immutable/assets/ScrollableTimeline.BSU17MU9.css
/.svelte-kit/output/server/_app/immutable/assets/VTBGroupUI-Medium.CJW7SkqK.otf
/.svelte-kit/output/server/_app/immutable/assets/VTBGroupUI-Regular.JWIonCWQ.otf
/.svelte-kit/output/server/_app/immutable/assets/VTBGroupUI-SemiBold.Wupg3RVc.ttf
/.svelte-kit/output/server/chunks/ArrowButtons.js
/.svelte-kit/output/server/chunks/client.js
/.svelte-kit/output/server/chunks/Contacts.svelte_svelte_type_style_lang.js
/.svelte-kit/output/server/chunks/exports.js
/.svelte-kit/output/server/chunks/index.js
/.svelte-kit/output/server/chunks/internal.js
/.svelte-kit/output/server/chunks/paths.js
/.svelte-kit/output/server/chunks/ScrollableTimeline.svelte_svelte_type_style_lang.js
/.svelte-kit/output/server/chunks/ssr.js
/.svelte-kit/output/server/entries/fallbacks/error.svelte.js
/.svelte-kit/output/server/entries/pages/library/_page.js
/.svelte-kit/output/server/entries/pages/library/_page.svelte.js
/.svelte-kit/output/server/entries/pages/users/_page.js
/.svelte-kit/output/server/entries/pages/users/_page.svelte.js
/.svelte-kit/output/server/entries/pages/_layout.js
/.svelte-kit/output/server/entries/pages/_layout.svelte.js
/.svelte-kit/output/server/entries/pages/_page.js
/.svelte-kit/output/server/entries/pages/_page.svelte.js
/.svelte-kit/output/server/nodes/0.js
/.svelte-kit/output/server/nodes/1.js
/.svelte-kit/output/server/nodes/2.js
/.svelte-kit/output/server/nodes/3.js
/.svelte-kit/output/server/nodes/4.js
/.svelte-kit/output/server/index.js
/.svelte-kit/output/server/internal.js
/.svelte-kit/output/server/manifest.js
/.svelte-kit/output/server/manifest-full.js
/.svelte-kit/types/src/routes/library/$types.d.ts
/.svelte-kit/types/src/routes/users/$types.d.ts
/.svelte-kit/types/src/routes/$types.d.ts
/.svelte-kit/types/route_meta_data.json
/.svelte-kit/ambient.d.ts
/.svelte-kit/non-ambient.d.ts
/.svelte-kit/tsconfig.json
/build/_app/immutable/assets/2.CVsoSvZf.css
/build/_app/immutable/assets/3.DbDXU9Ta.css
/build/_app/immutable/assets/4.Cc1aS8r4.css
/build/_app/immutable/assets/_page.C2c1pOGL.css
/build/_app/immutable/assets/_page.Cc1aS8r4.css
/build/_app/immutable/assets/_page.CX9ATAR7.css
/build/_app/immutable/assets/Contacts.Btm-M-Dv.css
/build/_app/immutable/assets/Contacts.CpRvNrDx.css
/build/_app/immutable/assets/cover.BMr1hXc1.png
/build/_app/immutable/assets/image.CD6wK-f0.png
/build/_app/immutable/assets/image.CU6q2Zfr.png
/build/_app/immutable/assets/library.w88Wsn9Y.png
/build/_app/immutable/assets/ScrollableTimeline.BSU17MU9.css
/build/_app/immutable/assets/ScrollableTimeline.DwESBPIs.css
/build/_app/immutable/assets/VTBGroupUI-Medium.CJW7SkqK.otf
/build/_app/immutable/assets/VTBGroupUI-Regular.JWIonCWQ.otf
/build/_app/immutable/assets/VTBGroupUI-SemiBold.Wupg3RVc.ttf
/build/_app/immutable/chunks/ArrowButtons.lsfQhm4H.js
/build/_app/immutable/chunks/clock.CMJliQaH.js
/build/_app/immutable/chunks/Contacts.svelte_svelte_type_style_lang.DfZH7EQI.js
/build/_app/immutable/chunks/display.CSdrB1xH.js
/build/_app/immutable/chunks/entry.D6NTzvvI.js
/build/_app/immutable/chunks/index.CmIcGEVT.js
/build/_app/immutable/chunks/index.Dei-R2vp.js
/build/_app/immutable/chunks/preload-helper.D6kgxu3v.js
/build/_app/immutable/chunks/rocket.BhCUKV6o.js
/build/_app/immutable/chunks/scheduler.Q-E3fVF4.js
/build/_app/immutable/chunks/ScrollableTimeline.svelte_svelte_type_style_lang.C-X7p9UV.js
/build/_app/immutable/entry/app.lmlUfyMS.js
/build/_app/immutable/entry/start.DQSN6MzZ.js
/build/_app/immutable/nodes/0.DD_8ieOX.js
/build/_app/immutable/nodes/1.hZ-A71th.js
/build/_app/immutable/nodes/2.BoFRj-Tv.js
/build/_app/immutable/nodes/3.CWb2oGbN.js
/build/_app/immutable/nodes/4.BzvOvues.js
/build/_app/env.js
/build/_app/version.json
/build/fonts/CoFo Kak Black.otf
/build/fonts/Inter-Regular.ttf
/build/images/employee/AIvanov.png
/build/images/employee/ALitvinov.png
/build/images/employee/AZhuravleva.png
/build/images/employee/DIvanova.png
/build/images/employee/DProcenko.png
/build/images/employee/EGyzyev.png
/build/images/employee/female-avatar.png
/build/images/employee/IIvanov.png
/build/images/employee/male-avatar.png
/build/images/employee/NMaslov.png
/build/images/employee/PBasin.png
/build/images/employee/Sasha.png
/build/images/employee/Taya.png
/build/images/employee/VShuvaeva.png
/build/images/rainbow.svg
/build/images/sfera-dark.png
/build/images/sfera-light.png
/build/Admiral_animation_video.mp4
/build/favicon.png
/build/global.css
/build/index.html
/build/library.html
/build/users.html
