.lib-font-block__font-tile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  background: var(--Light_blue, #f5f9fd);
  padding: 16px 20px 20px 20px;
  height: 100%;
}

.lib-font-block__font-tile-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 164px;
}

.lib-font-block__font-buttons-container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 5px;
  height: 30px;
}

.lib-font-block__font-buttons-container > * {
  flex: 0 0 auto;
}

.lib-font-block__font-text-wrapper {
  width: 100%;
}

@media (max-width: 1023px) {
  .lib-font-block__font-tile-wrapper {
    height: 205px;
  }
}


@media (max-width: 767px) {
  .lib-font-block__font-tile {
    border-radius: 12px 12px 0 0;
  }
  .lib-font-block__font-tile-wrapper {
    height: 210px;
  }
}