.lib-font-block__font-tile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 12px;
    background: var(--Light_blue, #f5f9fd);
    padding: 16px 20px 20px 20px;

    @media (max-width: 576px) {
        border-radius: 12px 12px 0 0;
    }
}

.lib-font-block__font-tile-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.lib-font-block__font-buttons-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 5px;
    height: 30px;

  @media (max-width: 576px) {
    margin: 48px 0 0;
  }
}

.lib-font-block__font-buttons-container > *{
    flex: 0 0 auto;
}

.lib-font-block__font-text-wrapper {
    width: 100%;
}
