.accessibility__info {
  color: var(--Grey, #7a8190);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    padding-bottom: 48px;
  }
}

.accessibility__descr-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 767px) {
    grid-template-columns: none;
    gap: 32px;
  }
}

.accessibility__descr-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  border-right: 1px solid var(--Light_grey, #e6eaf0);

  @media (max-width: 767px) {
    border-right: none;
  }
}

.accessibility__descr-container:last-of-type {
  border-right: none;
}

.accessibility__icon-wrapper {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.accessibility__icon-wrapper svg {
  width: 100%;
  height: 100%;
}

.accessibility__header {
  color: var(--Dark_grey, #35383a);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
  }
}

.accessibility__description {
  color: var(--Grey, #7a8190);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
