---
import Info from './info';
import FontBlock from './font-block';
import PaletteBlock from './palette';
import { IconsBlock } from './icons-block';
import AccessibilityBlock from './accessibility-block';
import CustomizingBlock from './customizing-block';
import { ReleasesBlock } from './releases-block';
import { Footer } from 'components/organisms/footer';
---

<Fragment>
  <div class="wrapper">
    <Info />
    <FontBlock />
    <PaletteBlock />
    <IconsBlock />
    <AccessibilityBlock />
    <CustomizingBlock />
    <ReleasesBlock />
  </div>
  <Footer />
</Fragment>

<style>
  .content-wrapper {
  }
</style>
