---
import stylesCSS from './content-wrapper.css?raw';
interface Props {
  class: string;
}

const { class: className } = Astro.props;
---

<div class:list={['content-wrapper', className]}>
  <slot />
</div>

<style set:html={stylesCSS}></style>
