---
import './releases-block.css';
import { Button } from '@components/ui-kit/Svelte';
---

<div class="releases-block">
    <div class="releases-block__first-row">
        <div></div>
        <div></div>
    </div>
    <div class="releases-block__last-row">
        <Button variant='primary'>История обновлений</Button>
    </div>
</div>