---
import { Icon } from 'astro-icon';
---

<div class="about-header__contacts">
    <button class='header-button icon_button'>
        <Icon name="telegram" />
    </button>
    <button class='header-button'>Связаться с нами</button>
</div>
<style>
    .about-header__contacts {
        padding: 30px 0 20px;
        grid-column: 1/ span 12;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 10px;
    }
    .icon_button {
        width: 30px;
    }
    .header-button {
        position: relative;
        height: 30px;
        padding: 4px 12px;
        border-radius: 64px;
        background: rgba(255, 255, 255, 0.20);
        border: none;
        outline: none;
        /* width: 30px; */
        cursor: pointer;
        color: var(--White, #FFF);
        text-align: center;

        /* 16/medium */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
    }
    .header-button svg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
</style>