.toggle-wrapper {
  margin-top: 25px;
  display: flex;
  column-gap: 10px;
  align-items: center;

  @media (max-width: 430px) {
    margin-top: 0;
  }
}

.vertical-separator {
  height: 20px;
  width: 1px;
  background-color: var(--Light_grey);

  @media (max-width: 430px) {
    display: none;
  }
}