:global(.users-header-image) {
  height: 352px;
  flex: 0 0 352px;
}

.header__wrapper {
  margin-top: 20px;
}

.header-text {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: 'CoFo Kak';
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header__wrapper {
    margin-top: 48px;
    padding: 0 16px;
  }

  :global(.users-header-image) {
    height: 212px;
    background-position-x: 50% !important;
  }

  .header-text {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0%;
  }
}
