---
import './releases-block.css';
import { Releases } from 'components/organisms/releases';
---

<div class="releases-block">
  <div class="releases-block__content">
    <Releases client:visible />
  </div>
</div>
