.custom-info {
  width: 100%;
  height: fit-content;
  min-height: 497px;
  border-radius: 12px;
  background: var(--Dark_blue_gradient);
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.components-control-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.component-wrapper {
  display: flex;
  justify-content: center;
}

.customizing-tools__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: var(--Blue, #0d42ff);
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: -5px;
}

@media (max-width: 767px) {
  .custom-info {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .components-control-wrapper {
    flex-wrap: wrap;
    padding-right: 48px;
  }

  .component-wrapper {
    margin-bottom: 30px;
  }
}
