.nav-item {
    height: 30px;
    padding: 0 12px;
    border-radius: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: var(--Dark_grey, #35383a);

    text-decoration: none;
    text-align: center;
    /* 16/medium */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    text-rendering: geometricPrecision;
}

.nav-item:hover:not(.active) {
    color: var(--Blue, #0d42ff);
}

.active {
    background: var(--Blue, #0d42ff);
    color: #fff;
}

/* @keyframes unwrap-submenu {
    0% {
        transform-origin: top;
        transform: scaleY(0);
        max-height: 0
    }
    100% {
        transform-origin: top;
        transform: scaleY(1);
        max-height: 100%;
    }
  }

.children-wrapper, div.nav-item {
    animation: 1.0s linear 0s 1 unwrap-submenu;
} */

@keyframes opened {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 100%;
    }
}

@keyframes closed {
    0% {
        max-height: 100%;
    }
    100% {
        max-height: 0;
        height: 0;
    }
}

.children-opened {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    animation: 0.5s linear 0s 1 opened;
    overflow: hidden;
}

.children-closed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    animation: 0.5s linear 0s 1 closed;
    overflow: hidden;
}