---
import Contacts from '../Contacts.astro';
interface Props extends HTMLAttributes<'div'> {
  id: string;
  class: string;
}

const { id, class: className, ...htmlProps } = Astro.props;

import './header-block.css';
import type { HTMLAttributes } from 'astro/types';
---

<div class:list={[className, 'header']} id={id} {...htmlProps}>
  <div class="header__content">
    <Contacts />
    <slot />
  </div>
</div>
