.platforms-wrapper {
  height: 340px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;

  @media (max-width: 576px) {
    height: 371px;
    margin: -40px 0 -20px;
    border-radius: 12px 12px 0 0;
  }
}

.platforms-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.content {
  margin-top: 20px;
  max-width: 50%;
  color: var(--White, #fff);
  font-variant-numeric: lining-nums tabular-nums;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;

  @media (max-width: 1280px) {
    max-width: 64%;
  }

  @media (max-width: 576px) {
    font-size: 16px;
    line-height: 20px;

    max-width: 100%;
  }
}

.platforms-cover {
  position: absolute;
  right: 0;
  top: -1px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

:global(.platforms-container .bottom-button) {
  bottom: 20px;
  left: 20px;
  position: absolute;

  @media (max-width: 576px) {
    bottom: 32px;
  }
}

.platforms-block__plug-wrapper {
  display: none;

  @media (max-width: 576px) {
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100vw;
  }
}
