---
import { ContentBlock } from '@components/ui-kit/Astro';
import './description.css';
---

<ContentBlock id="users" title="пользователи" class="users-block">
  <div class="users-description__info">
    Практика показывает, что даже самый точный инструмент <br />
    без инструкции превращается в булыжник. Гайдлайны помогают <br />
    разработке и бизнесу общаться на одном языке
  </div>
</ContentBlock>

<style is:inline>
  .block-container.users-block {
    padding-top: 6px;
  }
</style>
