---
import { Image } from 'astro:assets';
import SvgAdmiral from './admiral.svg';
interface NavItem {
  href: string;
  label: string;
}
interface Props {
  navItems: NavItem[];
}
const { navItems } = Astro.props;
---

<nav class="side-nav">
  <img class="nav-image" src={SvgAdmiral.src} />
  {navItems.map((item) => <a href={item.href}>{item.label}</a>)}
</nav>
<style>
  .side-nav {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 328px;
    background: var(--Light_blue, #f5f9fd);
    padding-top: 98px;
    padding-left: 60px;
  }
  .side-nav a {
    height: 30px;
    padding: 0 12px;
    border-radius: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: var(--Blue, #0d42ff);

    text-decoration: none;
    color: #fff;
    text-align: center;
    /* 16/medium */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    text-rendering: geometricPrecision;
  }

  .nav-image {
    position: absolute;
    top: 36px;
    left: 40px;
  }
</style>
