---
import { Image } from 'astro:assets';
import SvgAdmiral from './admiral.svg';
import rawStylesCSS from './style.css?raw';

interface NavItem {
  href: string;
  label: string;
}

interface Props {
  navItems: NavItem[];
  class: string;
}

const { navItems, class: className } = Astro.props;
---

<nav class="side-nav">
  <img class:list={[className, 'nav-image']} src={SvgAdmiral.src} />
  {navItems.map((item) => <a href={item.href}>{item.label}</a>)}
</nav>
<style set:html={rawStylesCSS}></style>
