.subcontent-block {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--Light_grey, #e6eaf0);
}

.subcontent-block__first-column {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 10px;
    border-right: 1px solid var(--Light_grey, #e6eaf0);
    flex: 50%;
}

.subcontent-block__info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.subcontent-block__heading {
    color: var(--Dark-grey, #35383a);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 10px;
}

.subcontent-block__info {
    color: var(--Grey);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.subcontent-block__tags-wrapper {
    display: flex;
    gap: 5px;
    display: flex;
}

.subcontent-block__last-column {
    display: flex;
    margin-left: 10px;
    padding-top: 20px;
}
