.icons-block__icon-tile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background: var(--Light_blue, #F5F9FD);
    padding: 20px;
}

.icons-block__tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px 4px 12px;
    border-radius: 64px;
    background: var(--Light_grey);

    color: var(--Dark-grey, #35383a);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.icons-block__tile-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icons-block__tile-heading {
    color: var(--Dark-grey, #35383A);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.icons-block__switcher-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons-block__switcher-title {
    color: var(--Dark_grey, #35383A);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.icons-block__icons-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.icons-block__icons-wrapper {
    display: flex;
    gap: 20px;
    width: 270px;
}

.icons-block__icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0D42FF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.1px;
}

.icons-block__icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}