.user-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: radial-gradient(
      6739.3% 141.42% at 99% 100%,
      rgba(0, 0, 255, 0.35),
      rgba(6, 6, 114, 0.35) 29.735%,
      rgba(6, 6, 114, 0) 64.241%
    ),
    rgb(3, 1, 37);
  padding: 20px 20px 40px 20px;
}

.user-card__first-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  word-spacing: 20px;

  color: var(--Light_grey, #e6eaf0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.user-card__last-row {
  display: grid;
  grid-template-columns: 67% auto;
}

.user-card__info-column {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.user-card__info-main {
  color: var(--White, #fff);
  font-family: CoFo Kak;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.user-card__info-sub {
  color: var(--Light_grey, #e6eaf0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.user-card__icon-wrapper {
  margin: 40px auto 0;
  width: 120px;
  height: 120px;
}

.user-card__icon-wrapper svg {
  width: 100%;
  height: 100%;
}
