---
import stylesCSS from './content-block.css?raw';
interface Props {
  id: string;
  title: string;
  titleTheme?: 'dark' | 'light',
  class?: string;
  hasPaddingBottom?: boolean;
}

const { id, title, titleTheme = 'dark', class: className} = Astro.props;
---
<div class:list={[className, 'block-container']}>
  <h2 class:list={['block-title', titleTheme]} id={id}>{title}</h2>
  <slot />
</div>
<style set:html={stylesCSS}></style>
