---
import { Footer } from 'components/organisms/footer';
import { Description } from './description';
import { UsersList } from './users-list';
---

<Fragment>
  <div class="wrapper">
    <Description />
    <UsersList />
  </div>
  <Footer />
</Fragment>
