.button{
    border-radius: 64px;
    text-align: center;

    /* 16/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */

    display: flex;
    height: 30px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    border: none;
    outline: none;
}
.button.style-primary {
    background: var(--Blue, #0D42FF);
    color: var(--White, #FFF);
}
.button.style-secondary {
    background: var(--Light_grey, #E6EAF0);
    color: var(--Dark_grey, #35383A);
}
.button.style-inactive {
    border: 1px solid var(--Light_grey, #E6EAF0);
    background: var(--Light_blue, #f5f9fd);
    color: var(--Dark_grey, #35383A);
}
