.button{
    position: relative;
    border-radius: 64px;
    text-align: center;

    /* 16/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */

    height: 30px;
    padding: 4px 12px;

    cursor: pointer;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition-property: color;
    transition-duration: var(--transition-duration-base, 300ms);
    transition-timing-function: var(--transition-easing-base, ease-in-out);
}
.button.style-primary {
    background: var(--Blue, #0D42FF);
    color: var(--White, #FFF);

    &:hover {
        background-color: var(--Dark_blue, #030125);
    }
}
.button.style-secondary {
    background: var(--Light_grey, #E6EAF0);
    color: var(--Dark_grey, #35383A);

    &:hover {
        background-color: var(--Dark_blue, #030125);
    }
}
.button.style-inactive {
    border: 1px solid var(--Light_grey, #E6EAF0);
    background: var(--Light_blue, #f5f9fd);
    color: var(--Dark_grey, #35383A);

    &:hover {
        background-color: var(--Dark_blue, #030125);
    }
}
.button.style-ghost {
    background: rgba(255, 255, 255, 0.2);
    color: var(--White, #fff);

    &:hover {
        background: rgba(255, 255, 255, 0.3);
    }
    &:active {
        background: rgba(255, 255, 255, 0.4);
    }
}
