---
import { Icon } from 'astro-icon';
---

<div class="user-card">
    <div class="user-card__first-row">
        1 Дизайнеры
    </div>
    <div class="user-card__last-row">
        <div class="user-card__info-column">
            <div class="user-card__info-main">ускоряем работу с макетами</div>
            <div class="user-card__info-sub">На 45% снижаем время на отрисовку макета</div>
        </div>
        <div class="user-card__icon-wrapper">
            <Icon name="rocket" />
        </div>
    </div>
</div>

<style>
    .user-card {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background: radial-gradient(6739.30% 141.42% at 99% 100%,
            rgba(0, 0, 255, 0.35),
            rgba(6, 6, 114, 0.35) 29.735%,
            rgba(6, 6, 114, 0) 64.241%),
            rgb(3, 1, 37);
        padding: 20px 20px 40px 20px;
    }

    .user-card__first-row {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 20px;
        word-spacing: 20px;

        color: rgb(230, 234, 240);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
    }

    .user-card__last-row {
        display: grid;
        grid-template-columns: 67% auto;
    }

    .user-card__info-column {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    .user-card__info-main {
        color: rgb(255, 255, 255);
        font-family: CoFo Kak;
        font-size: 40px;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .user-card__info-sub {
        color: rgb(230, 234, 240);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0%;
    }

    .user-card__icon-wrapper {
        margin: auto auto;
        width: 120px;
        height: 120px;
    }
</style>