---
import { ContentBlock } from '@components/ui-kit/Astro';
import Switcher from './switcher.svelte';
import './customizing-block.css';
---

<ContentBlock id="customizing" title="КАСТОМИЗАЦИЯ">
  <div class="customizing__info">
    Компоненты в библиотеке являются базовыми для<br />
    системы и могут закрыть большинство потребностей<br />
    при проектировании интерфейсов
  </div>
  <div class="switcher-wrapper">
    <Switcher client:visible />
  </div>
</ContentBlock>

<style>
  .switcher-wrapper {
    display: grid;
    grid-template-columns: 50% 5px 50%;
    column-gap: 10px;
    position: relative;
  }
</style>
