---
import Cover from "./cover.png";
import { Button } from "../../../ui-kit";
---
<div class="block-container">
  <div class="platforms-wrapper">
    <div class="platforms-container">
      <h2 class="block-title light" id="platforms">наши Платформы</h2>
      <div class="content">
        Дизайн-система является комплексным решением для создания пользовательского интерфейса. Она включает в себя
        работу
        с контентом, аналитику и настройки, которые могут быть использованы для любого устройства или продукта
      </div>
      <Button variant="primary" class="bottom-button">Хочу попробовать</Button>
    </div>
    <img class="platforms-cover" src={Cover.src} />
  </div>
</div>

<style>
  .platforms-wrapper{
    height: 340px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
  }
  .platforms-container {
    position: relative;
    z-index: 1;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
  }

  .platforms-container .content {
    margin-top: 10px;
    max-width: 50%;
    color: var(--White, #FFF);
    font-variant-numeric: lining-nums tabular-nums;

    /* 20/25 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */
  }

  .platforms-cover {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }

  .bottom-button {
    bottom: 20px;
    left: 20px;
    position: absolute;
  }
</style>
