.info-cover {
    height: auto;
    width: 100% ;
}

.arrows {
    display: flex;
    gap: 5px;
    padding-top: 40px;
}

.arrow-button {
    min-width: 30px;
    min-height: 30px;
    outline: none;
    cursor: pointer;
    color: #35383A;
    border: 1px solid #E6EAF0;
    border-radius: 50%;
    position: relative;
    display: flex;
    background-color: white;
    align-items: center;
}

.arrow-button:disabled {
    color: #E6EAF0;
    cursor: not-allowed;
}

.arrow-button svg {
    width: 15px;
    height: 15px;
}
