.releases-block {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  border-bottom: 1px solid #e6eaf0;
}
.releases-block__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
