.releases-block {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  border-bottom: 1px solid #e6eaf0;
}
.releases-block__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  @media (max-width: 430px) {
    margin-bottom: 24px;
  }
}

.releases-block__buttons-wrapper {
  @media (max-width: 430px) {
    display: none;
  }
}
