.release-card {
  box-sizing: border-box;
  padding: 10px;
  height: 71px;
  border-radius: 12px;
  border: none;
  background: var(--Light_blue, #f5f9fd);
  cursor: pointer;
}

.release-card:hover .release-card__header:not(.skeleton) {
  transition-property: color;
  transition-duration: var(--transition-duration-base, 300ms);
  transition-timing-function: var(--transition-easing-base, ease-in-out);
  color: var(--Blue, #0d42ff);
}

.release-card__header {
  color: var(--Dark_grey, #35383a);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
  height: 20px;
  width: 50%;
}

.release-card__info {
  color: var(--Grey, #7a8190);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 16px;
  width: 100%;
}

.release-card__info-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.release-card__info-separator {
  width: 1px;
  height: 12px;
}

.release-card__info-separator:not(.skeletonSeparator) {
  background: var(--Light_grey, #e6eaf0);
}

.skeleton {
  border-radius: 4px;
  color: transparent;
  background: var(--Skeleton_background, #f3f4f6);
  animation: var(--skeleton_animation);
}

@media (max-width: 767px) {
  .release-card {
    height: 96px;
    padding: 20px 16px;
  }
}
