.releases-wrapper {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.releases-block__cards-wrapper {
  overflow: hidden;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.releases-block__scrolling-container {
  position: relative;
  width: fit-content;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  transition: transform 300ms ease-in-out;
}

:global(.releases-block__button) {
  width: fit-content;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .releases-wrapper {
    flex-direction: column;
  }

  .releases-block__cards-wrapper {
    position: relative;
    padding-left: 16px;
  }

  .releases-block__scrolling-container {
    gap: 8px;
    overflow: auto;
  }

  :global(.releases-block__button) {
    margin-top: 12px;
  }
}
