.releases-wrapper {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.releases-block__cards-wrapper {
  overflow: hidden;
  flex: 1 0 75%;
  box-sizing: border-box;
  @media (max-width: 576px) {
    position: relative;
    padding-left: 16px;
  }
}

.releases-block__scrolling-container {
  position: relative;
  width: fit-content;
  display: grid;
  gap: 20px;
  justify-content: space-between;
  transition: transform 300ms ease-in-out;

  @media (max-width: 576px) {
    gap: 8px;
  }
}

:global(.releases-block__button) {
  width: fit-content;
  margin-top: 40px;

  @media (max-width: 576px) {
    margin-top: 12px;
  }
}
