.card {
    flex: 0 0 calc(33% - 10px);
    padding: 20px 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(255, 255, 255, 0.2);

    @media (max-width: 430px) {
      flex: 0 0 calc(59% - 10px);
      justify-content: flex-start;
      padding: 0 10px 0 0;
      height: fit-content;
    }
  }

  .card:last-of-type {
    border-right: none;
  }

  .card__text {
    color: var(--White, #fff);
    font-variant-numeric: lining-nums tabular-nums;

    /* 20/25 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */

    @media (max-width: 430px) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
      width: 212px;
    }
  }