.event-point {
  width: 8px;
  height: 8px;
  background: 'red';
  /* background: var(--White, #ffffff); */
  border: 2px solid var(--Grey, #7a8190);
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

.event-point:hover {
  border: 2px solid #0d42ff;
}

.text-block {
  width: 180px;
  padding: 10px;
  background: var(--White, rgb(255, 255, 255));
  color: var(--Grey, #7a8190);
  font-family: Inter;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid var(--Light_grey, rgb(230, 234, 240));
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
