---
const { item, isLastEl } = Astro.props;
const Grey = '#7A8190';
const Dark_grey = '#35383A';
const Light_grey = '#E6EAF0';
---

<div class={`timeline-item ${item.active ? 'active' : ''}`}>
  <div class="line"></div>
  <div class={`point ${item.size === 's' ? 'small' : 'large'}`}>
    {item.active && (
      <div class={'point-text bottom'}>
          {item.title && <div class="point-title">{item.title}</div>}
          {item.detail && (
            <div class={'point-detail'}>{item.detail}</div>
          )}
        </div>
    )}
    {!item.active && (
        <div class={`point-text ${isLastEl ? 'top last' : 'top'}`}>
          {item.detail && (
            <div class={'point-detail with-border'}>{item.detail}</div>
          )}
        </div>
      )
    }
  </div>
</div>

<script>
  import './timelineHover.js';
</script>

<style define:vars={{ Grey, Dark_grey, Light_grey }}>
  .timeline-item {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
  }

  .timeline-item:first-child {
    flex: 0 1 auto;
  }

  .timeline-item:first-child .line {
    display: none;
  }

  .timeline-item .line {
    flex: 1 0 auto;
    height: 2px;
    background-color: grey;
  }

  .timeline-item .point {
    flex: 0 1 auto;
    background: none;
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
    outline: 2px solid #7a8190;
  }

  .timeline-item .point:hover {
    outline-color: #0d42ff;
  }

  .timeline-item .point.large {
    width: 20px;
    height: 20px;
    outline-width: 3px;
  }

  .timeline-item .point.small {
    width: 10px;
    height: 10px;
  }

  .timeline-item .point.small .point-detail {
    color: var(--Grey);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
    letter-spacing: -0.1px;
  }

  .timeline-item.active .point {
    outline-color: #0d42ff;
  }

  .timeline-item .point-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: baseline;
    row-gap: 10px;
    text-align: start;
  }

  .timeline-item .small .point-text {
    width: 180px;
  }

  .timeline-item .point-text.bottom {
    top: 40px;
  }
  .timeline-item .point-text.top {
    bottom: 20px;
  }

  .timeline-item .point-text.top.last {
    right: 0;
  }

  .timeline-item .point-title {
    color: var(--Dark_grey);
    font-variant-numeric: lining-nums tabular-nums;

    /* 20/25 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */
  }

  .timeline-item .point-detail {
    color: var(--Grey);

    /* 16/20/regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
  .timeline-item .point-detail.with-border {
    border-radius: 4px;
    outline: 1px solid var(--Light_grey);
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
  }
</style>
