.icons-block__icon-tile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  background: var(--Light_blue, #f5f9fd);
  padding: 20px;
}

.icon-switcher__plug-wrapper {
  display: none;
}

.icons-block__tile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icons-block__tile-heading {
  color: var(--Dark_grey, #35383a);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.icons-block__switcher-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons-block__switcher-title {
  color: var(--Dark_grey, #35383a);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.icons-block__icons-container {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.icons-block__icons-wrapper {
  overflow: hidden;
  width: 268px;
}

.icons-block__scrolling-container {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  transition: transform 300ms ease-in-out;
}

.icons-block__icon-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0d42ff;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.1px;
  width: 67px;
}

.icons-block__icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 24px;
  height: 24px;
}

:global(.icons-block__icon path) {
  fill: #0d42ff !important;
}

@media (max-width: 767px) {
  .icons-block__scrolling-container {
    overflow: auto;
    gap: 30px;
  }

  .icons-block__icon-tile {
    position: relative;
    padding-bottom: 32px;
  }

  .icon-switcher__plug-wrapper {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .icons-block__tile-heading {
    display: none;
  }

  .icons-block__switcher-title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .icons-block__icons-container {
    justify-content: flex-start;
  }

  .icons-block__icons-wrapper {
    display: flex;
    flex: 1;
    margin-left: 16px;
  }

  .icons-block__icon-container {
    font-size: 18px;
    line-height: 23px;
    min-width: 78px;
  }

  .icons-block__icon-wrapper {
    width: 37px;
    height: 37px;
  }

  .icons-block__arrows-wrapper {
    display: none;
  }
}

@media (min-width: 1600px) {
  .icons-block__icons-wrapper {
    width: 402px;
  }
}
@media (min-width: 1920px) {
  .icons-block__icons-wrapper {
    width: 536px;
  }
}
