.event-point {
  width: 8px;
  height: 8px;
  background: var(--White, #ffffff);
  border: 2px solid var(--Grey, #7a8190);
  position: relative;
  border-radius: 50%;
}

.event-point:hover {
  border: 2px solid #0d42ff;
}

.text-block {
  position: absolute;
  text-align: start;

  color: var(--Grey, #7a8190);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
  letter-spacing: -0.1px;

  width: 180px;
  padding: 10px;
  border: 1px solid var(--Light_grey, rgb(230, 234, 240));
  border-radius: 4px;
  height: fit-content;

  background: var(--White, rgb(255, 255, 255));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  bottom: 20px;
}

.event-point:hover .text-block {
  opacity: 1;
}
