.calculator-wrapper {
  display: flex;
  column-gap: 10px;
  position: relative;
}

.calculator_left-pane {
  display: flex;
  gap: 40px;
  flex: 0 1 66%;
  flex-direction: column;
  min-width: 66%;
}

.calculator-text {
  max-width: 85%;

  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left;
  color: var(--Dark_grey);
}

.divider {
  width: 1px;
}
.separator {
  width: 1px;
  position: absolute;
  height: 100%;
  background-color: #e6eaf0;
}

.calculator-multichannel-switcher {
  display: flex;
  justify-content: space-between;

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;

  color: var(--Grey, #7a8190);
}

.calculator_right-pane {
  flex: 1 1 auto;
}

.calculator_result-banner {
  box-sizing: border-box;
  color: var(--Blue, #0d42ff);
  border-radius: 12px;
  background-color: var(--Light_blue);
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-percent {
  font-family: CoFo Kak;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}

.result-descr {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 10px;
}

.arrow-wrapper {
  margin: 20px 0;
}

.result_try-button {
  font-family: CoFo Kak;
  font-size: 13px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
  color: var(--White, #ffffff);
  background-color: var(--Blue, #0d42ff);
  height: 40px;
  width: 245px;
  border-radius: 64px;
  outline: none;
  border: none;
}
