.timeline-container {
  width: 100%;
  overflow: hidden;
  user-select: none;
}

.scrolling-container {
  position: relative;
  width: fit-content;
  padding: 80px 0 135px;
  margin-bottom: 40px;
  transition: transform 300ms ease-in-out;
  cursor: grab;
}

.scrolling-container.grabbing {
  cursor: grabbing;
}

.timeline-container :global(.line) {
  width: 30vw;
  min-width: 250px;
  max-width: 500px;
}

.timeline-container__arrows-wrapper {
  display: flex;
}

@media (max-width: 767px) {
  .scrolling-container {
    padding: 80px 0 100px;
  }

  .timeline-container__arrows-wrapper {
    display: none;
  }
}
