.tag {
    border-radius: 64px;
    width: auto;
    max-width: 211px;
    min-width: 0;
    padding: 4px 12px;

    cursor: default;
    border: none;
    outline: none;

    background: var(--Light_grey, #E6EAF0);
    color: var(--Dark_grey, #35383A);
}

.tag__text-wrapper {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag--active {
    cursor: pointer;
}

.tag--active:hover {
    background: #D5D8DE;
}