.switcher-item {
    cursor: pointer;
    padding: 0 0 20px 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 19px;

    color: var(--Grey, #7a8190);
    font-variant-numeric: lining-nums tabular-nums;

    /* 20/25 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */
}

.switcher-item:not(:first-child) {
    padding-top: 20px;
}

.switcher-item:not(:last-child) {
    border-bottom: 1px solid #e6eaf0;
}
.disabled {
    cursor: default;
}

.active {
    color: var(--Blue, #0d42ff);
}
