---
import users from './users.json';
import UserCard from '../user-card/index.astro';
---

<div class="users-list">
    <UserCard />
</div>

<style>
    .users-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 10px;
    }
</style>