.ability-info {
  width: 100%;
  height: 380px;
  border-radius: 12px;
  background: var(--Dark_blue_gradient);
  padding: 40px 10px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.ability-info__img {
  width: 100px;
  height: 100px;
  opacity: 1;
}

.ability-info__img.loading {
  opacity: 0;
}

.main-text {
  color: var(--White, #fff);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;

  /* 40/40 */
  font-family: CoFo Kak;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 100% */
  text-transform: uppercase;

  margin: 60px 0 10px;
}

.info-text {
  color: var(--Light_grey, #e6eaf0);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  max-width: 760px;
}

@media (max-width: 767px) {
  .ability-info {
    padding: 32px 16px;
    height: 290px;
    border-radius: 12px 12px 0 0;
  }

  .ability-info__img {
    width: 80px;
    height: 80px;
  }

  .main-text {
    font-size: 22px;
    line-height: 22px;

    margin: 20px 0 10px;
  }

  .info-text {
    font-size: 16px;
    line-height: 20px;
  }
}
