.palette-block__colors-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.palette-block__colors-wrapper {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 10px 20px;
  
  @media (max-width: 576px) {
    border-radius: 12px 12px 0 0;
    gap: 0;
  }
}

.palette-block__colors-wrapper > *{
  flex: 1 1 30%
}

.palette-block__plug-wrapper {
  display: none;

  @media (max-width: 576px) {
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
}

.palette-tile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 10px;

  @media (max-width: 576px) {
    padding: 20px;
    border-radius: 0;
  }
}

.palette-tile:nth-of-type(n + 3) {
  @media (max-width: 576px) {
    padding-bottom: 32px;
  }
}

.palette-tile__color-name {
  color: var(--White, #fff);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 22px;

  @media (max-width: 576px) {
    align-self: center;
  }
}

.palette-tile__color-code {
  color: var(--White, #fff);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;

  @media (max-width: 576px) {
    align-self: center;
  }
}
