.palette-block__colors-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 20px;
    width: 100%;

    @media (max-width: 430px) {
        gap: 0;
        border-radius: 12px 12px 0 0 !important;
    }
}

.palette-tile {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;

    @media (max-width: 430px) {
        padding: 20px;
        border-radius: 0;
    }
}

.palette-tile__color-name {
    color: var(--White, #fff);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 22px;

    @media (max-width: 430px) {
        align-self: center;
    }
}

.palette-tile__color-code {
    color: var(--White, #fff);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;

    @media (max-width: 430px) {
        align-self: center;
    }
}

.tags-wrapper-colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
}