---
import { HeaderBlock, Divider } from '@components/ui-kit';
import Cover from './library.png';
---

<HeaderBlock id={'library'} class="library-header-image" style={{ background: `url(${Cover.src})` }}>
  <Divider />
  <div class="header__wrapper">
    <span class="header-text">
      Визуальный <br />
      язык понятный <br />
      каждому
    </span>
  </div>
</HeaderBlock>

<style is:inline>
  .library-header-image {
    height: 351px;
  }

  .header__wrapper {
    margin-top: 20px;
  }

  .header-text {
    color: var(--White, #fff);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'CoFo Kak';
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
  }
</style>
