---
import history from './history.json';
import { ScrollableTimeline } from '@components/molecules';
---

<div class="block-container">
  <h2 class="block-title dark">история развития</h2>
  <ScrollableTimeline items={history} client:visible />
</div>
