<div class="users-description">
    <div class="users-description__heading">пользователи</div>
    <div class="users-description__info">
        Практика показывает, что даже самый точный инструмент <br />
        без инструкции превращается в булыжник. Гайдлайны помогают <br />
        разработке и бизнесу общаться на одном языке
    </div>
</div>

<style>
    .users-description {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        border-bottom: 1px solid var(--Light_grey);
    }

    .users-description__heading {
        color: var(--Dark_grey);
        font-family: CoFo Kak;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 0%;
        text-transform: uppercase;
    }

    .users-description__info {
        color: var(--Grey);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0%;
    }
</style>