.menu-item-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.level-separator {
  height: 0;
  width: 100%;
}

.menu-item {
  height: 30px;
  padding: 0 12px;
  border-radius: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: var(--Dark_grey, #35383a);

  text-decoration: none;
  text-align: center;
  /* 16/medium */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-rendering: geometricPrecision;
  transition-duration: var(--transition-duration-base, 300ms);
  transition-timing-function: var(--transition-easing-base, ease-in-out);
  transition-property: color, background-color;
}

.menu-item:hover:not(.active) {
  color: var(--Blue, #0d42ff);
}

.active {
  background: var(--Blue, #0d42ff);
  color: #fff;
}

.subitems-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
  max-height: 0;
}

/*.subitems-wrapper.animated {*/
/*  transition-property: max-height;*/
/*  transition-duration: var(--transition-duration-base, 300ms);*/
/*  transition-timing-function: var(--transition-easing-base, ease-in-out);*/
/*}*/
