.block-container {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 100px;
  border-bottom: 1px solid #e6eaf0;
  position: relative;
}

.block-title {
  font-variant-numeric: lining-nums tabular-nums;

  /* 40/40 */
  font-family: CoFo Kak;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
  margin: 0;
}

.block-title.dark {
  color: var(--Dark_grey, #35383a);
}
.block-title.light {
  color: var(--White, #FFF);
}