---
import Abilities from './abilities/switcher.svelte';
import Team from './team/index.astro';
import Products from './products/index.astro';
import Platforms from './platforms/index.astro';
import History from './history/index.astro';
import Footer from "../../footer/index.astro";
---

<div class="about-content">
  <Abilities client:visible />
  <Team />
  <Products />
  <Platforms />
  <History />
  <Footer />
</div>

<style>
  .about-content {
    min-height: 500px;
    padding: 20px 3.1%;
    background: var(--White, #fff);
  }
</style>
