---
import Abilities from './abilities/switcher.svelte'
---

<div class="about-content">
    <Abilities client:visible />
</div>
<style>
    .about-content {
        position: relative;
        min-height: 500px;
        top: -12px;
        padding: 20px 3.1%;
        border-radius: 12px;
        background: var(--White, #FFF);
    }
</style>