---
import { ContentBlock } from '@components/ui-kit';
---

<ContentBlock id='' title='Библиотека'>
    <div class="library-description__info">
        На экране интерфейса играют роль все детали. Цвет, шрифт, форма <br />
        или картинка одинаково важны, потому что задают общий тон
    </div>
</ContentBlock>

<style>
    .library-description__info {
        color: var(--Grey);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        padding-top: 20px;
    }
</style>