<div class="library-description">
    <div class="library-description__heading">Библиотека</div>
    <div class="library-description__info">
        На экране интерфейса играют роль все детали. Цвет, шрифт, форма <br />
        или картинка одинаково важны, потому что задают общий тон
    </div>
</div>

<style>
    .library-description {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        border-bottom: 1px solid var(--Light_grey);
    }

    .library-description__heading {
        color: var(--Dark_grey);
        font-family: CoFo Kak;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 0%;
        text-transform: uppercase;
    }

    .library-description__info {
        color: var(--Grey);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0%;
    }
</style>