---
import Employee from "./employee.astro";
import { Button } from "../../../ui-kit";

const members = [
  { name: "Андрей Иванов", role: "Лидер стрима", avatar: "male-avatar.png" },
  { name: "Таисия Шапотько", role: "IT лидер стрима", avatar: "female-avatar.png" },
  { name: "Игорь Иванов", role: "Руководитель отдела дизайна", avatar: "male-avatar.png" },
  { name: "Диана Иванова", role: "Руководитель проекта", avatar: "female-avatar.png" },
  { name: "Эльдар Гызыев", role: "Дизайнер ОДС Aдмирал", avatar: "male-avatar.png" },
  { name: "Андрей Литвинов", role: "Лидер команды Web разработки", avatar: "male-avatar.png" },
  { name: "Александр Кузнецов", role: "Старший UX дизайнер", avatar: "male-avatar.png" },
  { name: "Виктория Шуваева", role: "Менеджер проекта", avatar: "female-avatar.png" },
  { name: "Анастасия Журавлева", role: "Дизайнер ОДС Aдмирал", avatar: "female-avatar.png" },
  { name: "Пётр Басин", role: "Лидер команды UX исследований", avatar: "male-avatar.png" },
  { name: "Никита Маслов", role: "Менеджер проекта", avatar: "male-avatar.png" },
  { name: "Дарья Проценко", role: "Менеджер проекта", avatar: "female-avatar.png" }
];
---

<div class="block-container">
  <h2 class="block-title dark" id="team">Команда</h2>
  <div class="employees">
    {members.map((item) =>
      <Employee {...item} />)}
  </div>
  <div class="buttons-container">
    <Button variant="secondary">Улучшают сейчас</Button>
    <Button variant="secondary">12+ участников</Button>
    <Button variant="primary">Подробнее</Button>
  </div>
</div>

<style>
  .employees {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
    row-gap: 20px;
  }
  .buttons-container {
    display: flex;
    column-gap: 5px;
  }
</style>
