---
import Employee from './employee.astro';
import { ContentBlock, Button } from '@components/ui-kit';

const members = [
  { name: 'Андрей Иванов', role: 'Лидер стрима', avatar: 'AIvanov.png' },
  { name: 'Таисия Шапотько', role: 'IT лидер стрима', avatar: 'female-avatar.png' },
  { name: 'Игорь Иванов', role: 'Руководитель отдела дизайна', avatar: 'IIvanov.png' },
  { name: 'Диана Иванова', role: 'Руководитель проекта', avatar: 'DIvanova.png' },
  { name: 'Эльдар Гызыев', role: 'Дизайнер ОДС Aдмирал', avatar: 'EGyzyev.png' },
  { name: 'Андрей Литвинов', role: 'Лидер команды Web разработки', avatar: 'ALitvinov.png' },
  { name: 'Александр Кузнецов', role: 'Старший UX дизайнер', avatar: 'male-avatar.png' },
  { name: 'Виктория Шуваева', role: 'Менеджер проекта', avatar: 'VShuvaeva.png' },
  { name: 'Анастасия Журавлева', role: 'Дизайнер ОДС Aдмирал', avatar: 'AZhuravleva.png' },
  { name: 'Пётр Басин', role: 'Лидер команды UX исследований', avatar: 'PBasin.png' },
  { name: 'Никита Маслов', role: 'Менеджер проекта', avatar: 'NMaslov.png' },
  { name: 'Дарья Проценко', role: 'Менеджер проекта', avatar: 'DProcenko.png' },
];
---

<ContentBlock id="team" title="Команда">
  <div class="employees">
    {members.map((item) => <Employee {...item} />)}
  </div>
  <div class="buttons-container">
    <Button variant="secondary">Улучшают сейчас</Button>
    <Button variant="secondary">12+ участников</Button>
  </div>
</ContentBlock>

<style>
  .employees {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
    row-gap: 20px;
  }
  .buttons-container {
    display: flex;
    column-gap: 5px;
  }
</style>
