---
import { ContentWrapper } from '@components/ui-kit/Astro';
import { fade } from 'astro:transitions';
---

<main transition:animate={fade({ duration: '500ms' })}>
  <Fragment>
    <slot name="header" />
    <ContentWrapper class="content">
      <slot name="content" />
    </ContentWrapper>
  </Fragment>
</main>

<style>
  .content {
    position: relative;
    background: var(--White, #fff);
  }

  .content::before {
    content: '';
    position: absolute;
    width: 100%;
    top: -12px;
    left: 0;
    height: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: var(--White, #fff);
  }

  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
  }
</style>
