.about-header__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (max-width: 767px) {
    padding: 0 0 0 16px;
    overflow-x: hidden;
  }
}

video {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;

  @media (max-width: 767px) {
    top: 75px;
    border-radius: 12px 12px 0 0;
    max-width: 100vw;
    max-height: 640px;
  }
}

.header-text {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: 'CoFo Kak';
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 75px;
  text-transform: uppercase;
  margin-top: 39px;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 48px;
    margin-bottom: 10px;
    text-wrap: wrap;
    width: 95%;
  }
}

.header__subtext {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums tabular-nums;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 125% */
  width: 975px;
  margin-bottom: auto;

  @media (max-width: 1600px) {
    width: 788px;
  }

  @media (max-width: 1365px) {
    width: 617px;
  }

  @media (max-width: 767px) {
    margin-bottom: 32px;
    max-width: 95%;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}

.cards-wrapper {
  height: 216px;
  grid-column: 1 / span 12;
  display: flex;
  column-gap: 10px;
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  margin-top: 130px;

  @media (max-width: 1365px) {
    margin-top: 80px;
  }

  @media (max-width: 767px) {
    height: fit-content;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 44px;
  }
}
