.side-nav {
  position: sticky;
  top: 0;
  z-index: 100;
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Light_blue, #f5f9fd);
}

.side-nav--hidden {
  display: none;
}

.tablet-pane-title {
  color: var(--White, #ffffff);
}
