.users-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 100px;
  border-bottom: 1px solid var(--Light_grey, #e6eaf0);
  gap: 10px;

  @media (max-width: 430px) {
    padding-bottom: 0;
    border-bottom: none;
    gap: 8px;
  }
}