---
import Divider from "../../common/Divider.astro";
import Contacts from '../../common/Contacts.astro';
---

<div class="users-header">
  <div class="users-header__content">
    <Contacts />
    <Divider />
    <div class="header__wrapper">
      <span class="header-text">
        С адмирал <br />
        все говорят <br />
        на одном языке
      </span>
    </div>
  </div>
</div>

<style>
  .users-header {
    height: 352px;
    padding: 0 3.9%;
    position: relative;
    overflow: hidden;
    background: url('image.png');
  }

  .users-header__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header__wrapper {
    margin-top: 20px;
  }

  .header-text {
    color: var(--White, #fff);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'CoFo Kak';
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
  }
</style>
