.employees {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 16px;
  row-gap: 20px;
}
.buttons-container {
  display: flex;
  column-gap: 5px;
}

@media (max-width: 767px) {
  .employees {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0 32px;
    column-gap: 31px;
  }
}
